In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
weatherpy_database_df = pd.read_csv("weather_data/WeatherPy_Database.csv")
weatherpy_database_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Svetlogorsk,BY,52.63,29.73,64.81,90,0,4.65,clear sky,0.0,0
1,1,Owando,CG,-0.48,15.90,69.71,90,33,2.98,scattered clouds,0.0,0
2,2,Khatanga,RU,71.97,102.50,50.81,65,93,15.37,overcast clouds,0.0,0
3,3,Kapaa,US,22.08,-159.32,82.40,65,1,12.75,clear sky,0.0,0
4,4,Shahgarh,IN,24.32,79.13,79.21,83,100,7.56,overcast clouds,0.0,0

In [3]:
weatherpy_database_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)            int64
dtype: object

In [4]:
# Ask the customer to add a minimum and maximum temperature value and raining, snowing options.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 75
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
# Filter the dataset to find the cities that fit the criteria.

if (raining == 'yes') and (snowing == 'yes'):
    preferred_cities_df = weatherpy_database_df.loc[(weatherpy_database_df["Max Temp"] <= max_temp) & \
                                                    (weatherpy_database_df["Max Temp"] >= min_temp) & \
                                                    (weatherpy_database_df["Rain (inches)"] > 0.0) & \
                                                    (weatherpy_database_df["Snow (inches)"] > 0)]
elif (raining == 'yes') and (snowing == 'no'):
    preferred_cities_df = weatherpy_database_df.loc[(weatherpy_database_df["Max Temp"] <= max_temp) & \
                                                    (weatherpy_database_df["Max Temp"] >= min_temp) & \
                                                    (weatherpy_database_df["Rain (inches)"] > 0.0) & \
                                                    (weatherpy_database_df["Snow (inches)"] == 0)]
elif (raining == 'no') and (snowing == 'yes'): 
    preferred_cities_df = weatherpy_database_df.loc[(weatherpy_database_df["Max Temp"] <= max_temp) & \
                                                    (weatherpy_database_df["Max Temp"] >= min_temp) & \
                                                    (weatherpy_database_df["Rain (inches)"] == 0.0) & \
                                                    (weatherpy_database_df["Snow (inches)"] > 0)]
else: 
    preferred_cities_df = weatherpy_database_df.loc[(weatherpy_database_df["Max Temp"] <= max_temp) & \
                                                    (weatherpy_database_df["Max Temp"] >= min_temp) & \
                                                    (weatherpy_database_df["Rain (inches)"] == 0.0) & \
                                                    (weatherpy_database_df["Snow (inches)"] == 0)]    

vacation_cities_df = preferred_cities_df

vacation_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Svetlogorsk,BY,52.63,29.73,64.81,90,0,4.65,clear sky,0.0,0
1,1,Owando,CG,-0.48,15.90,69.71,90,33,2.98,scattered clouds,0.0,0
5,5,Avarua,CK,-21.21,-159.78,73.40,78,97,14.99,overcast clouds,0.0,0
9,9,Sechura,PE,-5.56,-80.82,65.84,77,100,13.38,overcast clouds,0.0,0
11,11,Lata,PT,40.16,-8.33,64.99,87,0,1.39,clear sky,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
581,581,Santa Barbara,US,34.42,-119.70,75.00,68,1,8.05,clear sky,0.0,0
587,587,Sarakhs,IR,36.54,61.16,69.80,40,1,9.46,clear sky,0.0,0
588,588,Hovd,MN,48.01,91.64,69.17,34,45,3.65,scattered clouds,0.0,0
589,589,Jiblah,YE,13.92,44.15,65.10,74,73,0.54,broken clouds,0.0,0
590,590,Krasnopavlivka,UA,49.14,36.33,70.12,59,0,6.64,clear sky,0.0,0

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Svetlogorsk,BY,64.81,clear sky,52.63,29.73,
1,Owando,CG,69.71,scattered clouds,-0.48,15.90,
5,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,
9,Sechura,PE,65.84,overcast clouds,-5.56,-80.82,
11,Lata,PT,64.99,clear sky,40.16,-8.33,
12,Isangel,VU,73.40,overcast clouds,-19.55,169.27,
13,Camacha,PT,68.00,scattered clouds,33.08,-16.33,
16,Nilopolis,BR,73.40,clear sky,-22.81,-43.41,
19,Ponta Do Sol,PT,69.80,few clouds,32.67,-17.10,
23,Lompoc,US,59.00,clear sky,34.64,-120.46,

In [8]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Svetlogorsk,BY,64.81,clear sky,52.63,29.73,Hotel Svetlogorsk JBIK
1,Owando,CG,69.71,scattered clouds,-0.48,15.90,Exaunel Hotel Owando
5,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,Paradise Inn
9,Sechura,PE,65.84,overcast clouds,-5.56,-80.82,Hospedaje Costa Bella
11,Lata,PT,64.99,clear sky,40.16,-8.33,Casa Maquia
...,...,...,...,...,...,...,...
581,Santa Barbara,US,75.00,clear sky,34.42,-119.70,Kimpton Canary Hotel
587,Sarakhs,IR,69.80,clear sky,36.54,61.16,Sarakhs Abrisham Hotel
588,Hovd,MN,69.17,scattered clouds,48.01,91.64,Hotel Khovd
589,Jiblah,YE,65.10,broken clouds,13.92,44.15,Tiger Tower Hotel
590,Krasnopavlivka,UA,70.12,clear sky,49.14,36.33,

In [11]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# marker layer map with pop-up marker
# Get hotel name, city, country, and current weather description with the max temp

city = vacation_cities_df["City"]
country = vacation_cities_df["Country"]
max_temp = vacation_cities_df["Max Temp"]
current_description = vacation_cities_df["Current Description"]
locations = vacation_cities_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the marker_layer variable.
marker_layer = gmaps.marker_layer(locations)

# Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(31.0, 31.0), zoom_level=1)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

from ipywidgets.embed import embed_minimal_html
embed_minimal_html('export.html', views=[fig])

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))